.header {
  padding: 0 20px;
  height: 85px;
  display: flex;
  // justify-content: center;
  align-items: center;

  &_logo {
    max-width: 285px;
    width: 100%;
  }

  &_main {
    max-width: calc(100% - 285px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left {
      max-width: 200px;

      &-title {
        h1 {
          margin: 0;
        }
      }

      &-detail {
        display: flex;
        align-items: center;

        span {
          font-weight: 700;
          margin-left: 10px;
          display: inline-block;
        }
      }
    }

    &-right {
      max-width: 654px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }

    form {
      max-width: 263px;
      width: 100%;
      height: 29px;
      background-color: #fff;
      border-radius: 6px;
      position: relative;

      input {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 6px;
        padding-left: 10%;

        &::placeholder {
          color: #A1A5B7;
        }

        &:focus-visible {
          outline: none;
        }
      }

      span {
        position: absolute;
        top: 5px;
        left: 10px;
        color: #A1A5B7;
      }
    }

    &-info {
      max-width: 280px;
      display: flex;
      align-items: center;

      ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
          margin-left: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          background: #92a3e5;
          border-radius: 50%;
        }
      }
    }
  }
}
