<nav class="header">
  <div class="header_logo">
    <img src="http://localhost:4200//src/assets/img/Frame.png" alt="" />
  </div>
  <div class="header_main">
    <div class="header_main-left">
      <div class="header_main-left-title">
        <h1 class="resizer-18">Trường Tiểu học OMT</h1>
        <ul class="hide">
          <li>Trường Trung học cơ sở OMT</li>
          <li>Trường Trung phổ thông OMT</li>
        </ul>
        <a class="btn-select"><span></span></a>
      </div>
      <div class="header_main-left-detail">
        <p class="resizer-12">Học Kỳ 1</p>
        <span class="resizer-12">Năm học 2022-2023</span>
      </div>
    </div>
    <div class="header_main-right">
      <form action="" method="get">
        <span><i class="far fa-search"></i></span>
        <input type="text" />
      </form>
      <div class="header_main-info">
        <div class="manage"><p>Quản lý đào tạo</p></div>
        <ul>
          <li ><i class="far fa-bell"></i></li>
          <li><i class="fal fa-comments"></i></li>
          <li><i class="fal fa-user"></i></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
