// button {
//   margin-bottom: 14px;
// }

table {
  width: 100%;
}

td.mat-cell {
  border-bottom-color: #E4E6EF;
}


.content-layout {
  padding: 38px 33px;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left {
      width: 50%;
    }

    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      color: #2D3748;
      margin-bottom: 0;
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 21px;
      color: #495057;
    }

    &-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 848px;
      width: 100%;

      .select {
        display: block;
        width: 154px;
        height: 42px;
        background: #F3F6F9;
        border-radius: 6px;
        padding: 0 16px;
        /*for firefox*/
        // -moz-appearance: none;
        // /*for chrome*/
        // -webkit-appearance: none;
        // appearance: none;
        position: relative;

        &::-ms-expand {
          display: none;
        }

        &:focus-visible {
          outline: none;
          box-shadow: rgba(133, 120, 164, 0.16) 0px 1px 4px;
        }
      }

      form {
        position: relative;

        input {
          height: 40px;
          max-width: 321px;
          background: #F3F6F9;
          border-radius: 5px;
          padding-left: 27px;

          &::placeholder {
            color: #777777;
          }

          &:focus-visible {
            outline: 0.5px solid #0053e2;
            box-shadow: rgba(46, 53, 71, 0.16) 0px 1px 4px;
          }
        }

        button {
          position: absolute;
          right: 11px;
          top: 9px;
          color: #556EE6;
          font-size: 20px;
          background: transparent;
        }

      }

      .btn-add {
        width: 122px;
        height: 40px;
        background: #556EE6;
        border-radius: 6px;
        color: #fff;
        margin-bottom: 0;
        line-height: 15px;

        span {
          display: inline-block;
          width: 15px;
          height: 15px;
          padding: 3px;
          background: #fff;
          color: #556EE6;
          border-radius: 50%;
          font-size: 10px;
          line-height: 12px;
        }
      }
    }
  }
  .btn-ellipsis{
    &:hover{
      color: #556EE6;
    }
  }
}
