<div class="content-layout">
  <div class="top">
    <div class="top-left">
      <h2>Danh mục hồ sơ</h2>
      <p>Môn học: 07 môn</p>
    </div>
    <div class="top-right">
      <select name="" id="" class="select select-range">
        <option value="">Học sinh</option>
        <option value="">CBNV</option>
      </select>
      <select name="" id="" class="select select-status">
        <option value="">Bắt buộc</option>
        <option value="">Không bắt buộc</option>
      </select>
      <form action="">
        <input type="text" placeholder="Tìm kiếm" />
        <button type="submit"><i class="far fa-search"></i></button>
      </form>
      <button class="btn-add" mat-menu-item (click)="openDialogCreate()">
        <span><i class="fas fa-plus"></i></span> Thêm mới
      </button>
    </div>
    <div></div>
  </div>

  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>STT.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nameCategory">
      <th mat-header-cell *matHeaderCellDef>Tên danh mục</th>
      <td mat-cell *matCellDef="let element">{{ element.nameCategory }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="codeCategory">
      <th mat-header-cell *matHeaderCellDef>Mã danh mục</th>
      <td mat-cell *matCellDef="let element">{{ element.codeCategory }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="support">
      <th mat-header-cell *matHeaderCellDef>Phạm vi hồ sơ</th>
      <td mat-cell *matCellDef="let element">{{ element.support }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
      <td mat-cell *matCellDef="let element">
        {{ element.status ? "Bắt buộc" : "Không bắt buộc" }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
      <td mat-cell *matCellDef="let element">{{ element.note }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Hàng động</th>
      <td mat-cell *matCellDef="let element">
        <button class="btn-ellipsis" mat-button [matMenuTriggerFor]="menu">
          <i class="far fa-ellipsis-v"></i>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialogUpdate(element.id)">
            Cập nhật
          </button>
          <button mat-menu-item (click)="openDialogDelete(element.id)">
            Xoá
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    style-paginator
    showFirstLastPageButtons
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
  ></mat-paginator>
</div>
