.custom-paginator-page{
  height: 32px;
  width: 34px;
  border-radius: 4px;
  margin-left: 5px;
  border: 1px solid #A3A1A1;
  background: #fff;
}
.custom-paginator-page-disabled{
  background: #556EE6;
  border: 1px solid #556EE6;
  color: #fff;
}
.mat-paginator-container{
  justify-content: space-between !important;
}
