
@keyframes showAnimation {
  0% {
    opacity: 0;
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.04);
  }
  60% {
    transform: scaleY(0.98);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes hideAnimation {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.02);
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
  }
}
.sidebar{
  padding:0 24px;
  &_item{
    &-title{
      //font-family: 'Mulish';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 150%;
      display: flex;
      align-items: center;
      color: #A0AEC0;
      margin-bottom: 20px;
    }
    &-list{
      .item-v1{
        max-width: 240px;
        width: 100%;
        & > a{
          display: block;
          max-width: 243px;
          width: 100%;
          height: 54px;
          transform: scale(0.9);
          transition: all .4s;
          border-radius: 15px;
          padding: 18px 24px;
          cursor: pointer;
          &:hover{
            transform: scale(1);
            transition: all .4s;
            background: #fff;
            box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
            border-radius: 15px;
          }
        }
        &.active{
          &>a{
            transform: scale(1);
            transition: all .4s;
            background: #fff;
            box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
            border-radius: 15px;
          }
          .submenu-v2{
            display: block;
            opacity: 1;
            transform: scaleY(1);
            max-height: 999px;
            transition: max-height 2s ease-in-out;
          }
        }
      }
    }
  }
  .submenu-v2{
    display: none;
    opacity: 0;
    //transform: scaleY(0);
    max-height: 0;
    transform-origin: 50% 0;
    transition: max-height 0.6s ease-out;
    animation: showAnimation 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    padding-left: 40px;
    .item-v2{
      list-style: disc;
      padding: 8px;
      a{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
        color: #5E6278;
        cursor: pointer;
        &:hover{
          color: #556EE6;
        }
        &.active{
          color: #556EE6;
        }
      }

    }
  }
}
