<div class="sidebar">
  <div class="sidebar_item">
    <label class="sidebar_item-title">Báo cáo & Thống kê</label>
    <ul class="sidebar_item-list">
      <li class="item-v1"><a class="link">Thống kê</a></li>
      <li class="item-v1"><a class="link">Báo cáo</a></li>
      <li class="item-v1"><a class="link">Tổng kết</a></li>
    </ul>
  </div>
  <div class="sidebar_item">
    <label class="sidebar_item-title"> Dữ liệu hệ thống</label>
    <ul class="sidebar_item-list submenu-v1">
      <li class="item-v1" (click)="toggleClass($event, 'active')">
        <a class="link"> Khai báo</a>
      </li>
      <li class="item-v1">
        <a class="link" (click)="toggleClass($event, 'active')"
          >Import dữ liệu</a
        >
        <ul class="submenu-v2">
          <li class="item-v2"><a>Phân phối chương trình</a></li>
          <li class="item-v2"><a>Danh sách bộ đề</a></li>
          <li class="item-v2"><a>Kho học liệu</a></li>
          <li class="item-v2"><a>Đề thi tự do</a></li>
          <li class="item-v2"><a routerLink="/home/hello" routerLinkActive="active">Môn học</a></li>
          <li class="item-v2"><a routerLink="/home/table" routerLinkActive="active">Danh mục hồ sơ</a></li>
          <li class="item-v2"><a>Tâm lý học đường</a></li>
        </ul>
      </li>
      <li class="item-v1" (click)="toggleClass($event, 'active')">
        <a class="link">Nhập liệu</a>
      </li>
    </ul>
  </div>
</div>
