:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form {
  input[type=checkbox] {
    margin-top: 2px;
  }
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
.form-label{
  span{
    margin-left: 5px;
    color: red;
  }
}
  input,
  select,
  textarea {
    max-width: 350px;
    width: 100%;
    height: 44px;
    background: #F3F6F9;
    border-radius: 9px;
    border: none;

    &:focus {
      border: none;
      box-shadow: rgba(151, 157, 181, 0.2) 0px 2px 8px 0px;
    }
  }

  .textarea {
    max-width: 991px !important;
    width: 85%;
    height: 227px;
    padding: 20px;

    &:focus-visible {
      outline: none;
      box-shadow: rgba(151, 157, 181, 0.2) 0px 2px 8px 0px;
    }
  }
}

.form-group-area {
  align-items: flex-start !important;

  .form-label {
    margin-top: 20px;
  }
}

.gruop-btn {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;

  .btn-Close {
    width: 100px;
    height: 27px;
    background: transparent;
    border-radius: 3px;
    margin: 0 5px;

    &:hover {
      background: #556EE6;
      color: #fff;
    }
  }

  .btn-Submit {
    width: 115px;
    height: 27px;
    background: #556EE6;
    border-radius: 3px;
    color: #fff;
    &:disabled,
    &[disabled] {
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #2e2e2e;
    }
  }

}
#support{
  &::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #000;
  }
}

