<h1>{{ dataDialog.title }}</h1>
<form
  *ngIf="FormSubject"
  class="formwidth row"
  [formGroup]="FormSubject"

  #myForm="ngForm"
>
  <div class="col-md-6">
    <div class="form-group" hidden>
      <label for="inputid" class="form-label">id</label>
      <input
        class="form-control"
        hidden
        id="id"
        formControlName="id"
        placeholder="id"
      />
    </div>
    <div class="form-group">
      <label for="inputnameCategory" class="form-label"
        >Tên danh mục<span>*</span></label
      >
      <input
        class="form-control"
        id="nameCategory"
        formControlName="nameCategory"
        placeholder="nameCategory"
      />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="inputcodeCategory" class="form-label"
        >Mã danh mục<span>*</span></label>
      <input
        class="form-control"
        id="codeCategory"
        formControlName="codeCategory"
        placeholder="codeCategory"
      />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="inputsupport" class="form-label">Phạm vi <span></span></label>
      <select class="form-control-1" id="support" formControlName="support" placeholder="support">
        <option >Học sinh</option>
        <option >CBNV</option>
      </select>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="status">
      <label class="form-check-label" for="exampleCheck1">Hồ sơ bắt buộc</label>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group form-group-area">
      <label for="inputnote" class="form-label">Ghi chú<span></span></label>
      <textarea class="textarea" id="note" formControlName="note" placeholder="note"></textarea>
    </div>
  </div>
  <div class="col-md-12">
    <div class="gruop-btn">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="check-form">
        <label class="form-check-label" for="exampleCheck2">Tiếp tục tạo dữ liệu  </label>
      </div>
      <button class="btn-Close" (click)="close()">Huỷ</button>
      <button class="btn-Submit" type="submit"(click)="onSubmit()" [disabled]="FormSubject.status=='INVALID'">Lưu </button>
    </div>
  </div>
</form>
