p{
  text-align: center;
}
.box-loading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loading{
  width: 80px;
  height: 80px;
  object-fit: cover;
 }
