.main{
  display: flex;
  padding: 0 20px;
}
app-sidebar{
  flex-basis: 240px;
}
.table_box{
  flex-basis: 840px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  background: #fff;
  border-radius: 30px;
}

